.jumbotron {
  width: 100%;
  background-image: url('/images/watches/analog_watch/jumbotron_watch.png');
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron .content {
  padding: 50px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}


.jumbotron .content h1 {
  font-family: 'Roboto', sans-serif;
}

.jumbotron .content p {
  padding: 50px 0 0 0;
}

.jumbotron .actions {
  margin: 50px auto;
  display: flex;
  width: 40%;
  color: #ffffff;
  justify-content: space-around;
}

.partners {
  display: flex;
  justify-content: space-around;
  background: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.7rem;
}

.jumbotron .actions button:hover {
  background:rgb(157, 158, 157);
  /* color: #ad0244; */
}

.inStockSection {
  text-align: center;
}

.inStockSection .content {
  padding: 0 300px;
}

.inStockSection h1 {
  text-align: center;
  padding: 0 100px;
  font-family: 'Roboto', sans-serif;
}

.inStockSection hr {
  margin-top: 30px;
  padding: 0 60px;
}

.inStockSection .inStockImg {
  display: flex;
  justify-content: space-evenly;
}

.inStockImgContent {
  position: relative;
  /* opacity: 0.8; */
  overflow: hidden;
  padding: 40px 0;
  transition: transform .2s ease-in-out;
}

.inStockImgContent:hover {
  transform: scale(1.02);
} 

.text {
  font-size: 1.3rem;
  color: #fffefe;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.jumbotron_two_high_performance {
  width: 100%;
  background-image: url('/images/watches/analog_watch/jumbotron_two_high_performance.png');
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 50px 0 0 0;
}

.boostedSmartWatchSection {
  margin: 30px 0;
}


.boostedSmartWatch {
  display: flex;
  justify-content: space-evenly;
}


.boostedSmartWatch .content {
  width:20%;
  padding: 50px 20px;
}

.test {
  display: flex;
  margin-top: 50px;
 /* align-items: center; */
 text-align: center;
  color: #ffffff;
  justify-content: space-between;
  transition: transform .2s ease-in-out;
}

.test span {
  font-size: 1.4rem;
  font-style: italic;
}

.one {
  background: url('/images/watches/footer_analog/pixel-bee-u8isJQ6QjF4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    margin: 0 10px;
}

.one:hover,
.two:hover,
.three:hover {
  transform: scale(1.05);
}

.one h2,
.two h2,
.three h2{
  margin: 200px auto 0;
}
.two {
  background: url('/images/watches/smart_watch/onur-binay-8OQt1zTnJeE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    margin: 0 10px;
}
.three {
  background: url('/images/watches/smart_watch/ash-edmonds--Tr4FdDbFEw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    margin: 0 10px;
}


@media(max-width:860px) {
  .jumbotron {
    background: url('/images/watches/analog_watch/jumbotron_two_high_performance.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(5, 5, 5);
  } 

  .jumbotron .content {
    padding: 50px 0 0 0;
  }

  .jumbotron .content p {
    padding: 30px 10px 0 10px;
    font-weight: bold;
  }

  .jumbotron .actions {
    width: 100%;
    flex-wrap: wrap;
  }

  .partners {
    font-size: 1rem;
  }

  .inStockSection .content {
    padding: 5px;
  }

  .inStockSection .inStockImg {
    flex-wrap: wrap;
  }

  .boostedSmartWatch {
    flex-wrap: wrap;
  }

  .boostedSmartWatch .content{
    padding:20px 20px;
    width:100%;
    text-align: center;
  }

  .test {
    display: block;
    margin:0;
  }

  .test .one, 
  .test .two,
  .test .three {
    margin: 0;
    height: 400px;
    padding: 0;
  }
}

@media(max-width:600px) {
  .jumbotron {
    background: url('/images/watches/footer_analog/laura-chouette-CIQYQYGn6a4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .jumbotron .actions button {
    margin-left: 0;
  }
}
