.jumbotron {
  width: 100%;
  background-image: url('/images/watches/footer_analog/pixel-bee-u8isJQ6QjF4-unsplash.jpg');
  /* background-image: url('/images/watches/analog_watch/jumbotron_watch.png'); */
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.jumbotron .content {
  padding: 50px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}


.jumbotron .content h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: capitalize;
}

.jumbotron .content p {
  padding: 20px 0 0 0;
  font-size: 1.5rem;
}

.jumbotron .actions {
  margin: 50px auto;
  display: flex;
  width: 40%;
  color: #ffffff;
  justify-content: space-around;
}

.partners {
  display: flex;
  justify-content: space-around;
  background: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.7rem;
}

.jumbotron .actions button:hover {
  background:rgb(157, 158, 157);
  /* color: #ad0244; */
}

.inStockSection {
  text-align: center;
}

.inStockSection .content {
  padding: 0 300px;
}

.inStockSection h1 {
  text-align: center;
  padding: 0 100px;
  font-family: 'Roboto', sans-serif;
}

.inStockSection hr {
  margin-top: 30px;
  padding: 0 60px;
}

.inStockSection .inStockImg {
  display: flex;
  justify-content: space-evenly;
}

.inStockImgContent {
  position: relative;
  /* opacity: 0.8; */
  overflow: hidden;
  padding: 40px 0;
  transition: transform .2s ease-in-out;
}

.inStockImgContent:hover {
  transform: scale(1.02);
} 

.text {
  font-size: 1.3rem;
  color: #fffefe;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.jumbotron_two_high_performance {
  width: 100%;
  background-image: url('/images/watches/analog_watch/jumbotron_two_high_performance.png');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 50px 0 0 0;
}

.jumbotron_two_high_performance .actions {
    padding-top: 30px;
}

.boostedSmartWatchSection {
  margin: 30px 0;
}


.boostedSmartWatch {
  display: flex;
  justify-content: space-evenly;
}

.boostedSmartWatch .content h1 {
  color: #ad0244;
}


.boostedSmartWatch .content {
  width:20%;
  padding: 30px 20px;
}

.boostedSmartWatch .content p {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
  justify-items: center;
}



@media(max-width:860px) {
  .jumbotron {
    background: url('/images/watches/analog_watch/tadeusz-lakota-Tb38UzCvKCY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* color: rgb(255, 253, 253); */
  } 

  .jumbotron .content {
    padding: 50px 0 0 0;
  }

  .jumbotron .content h1 {
    font-size: 2rem;
    padding: 0 20px;
    font-weight: 600;
  }

  .jumbotron .content p {
    padding: 30px 10px 0 10px;
    font-weight: bold;
  }

  .jumbotron .actions {
    width: 100%;
    flex-wrap: wrap;
  }

  .partners {
    font-size: 1rem;
  }

  .inStockSection .content {
    padding: 5px;
  }

  .inStockSection .inStockImg {
    flex-wrap: wrap;
  }

  .inStockImgContent {
    padding: 0;
  }

  .jumbotron_two_high_performance {
    width: 100%;
    background-image: url('/images/watches/analog_watch/pat-taylor-12V36G17IbQ-unsplash.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 50px 0 0 0;
  }

  .boostedSmartWatch {
    flex-wrap: wrap;
  }

  .boostedSmartWatch .content{
    padding:20px 20px;
    width:100%;
    text-align: center;
  }
}

/* @media(max-width:600px) {
  .jumbotron {
    background: url('/images/watches/analog_watch/tadeusz-lakota-Tb38UzCvKCY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  }

  .jumbotron .content h1 {
    font-size: 2rem;
    padding: 0 20px;
  }

  .jumbotron .actions button {
    margin-left: 0;
  }
} */
